<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/registration.css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/changePassword.js}" src="../static/js/changePassword.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form th:action="@{/changePassword}" method="POST"
					class="form-horizontal" role="form">
					<h2>Change password successfully</h2>
					
					<span id="globalError" style="display:none" th:text="${messageSuccess}"></span>
					
					<div class="form-group">
						<div class="col-sm-9">
							<a th:href="@{/login}" class="btn btn-primary btn-block">Return to the login page</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>